/*=============== GENERAL ===============*/
/*img
{
    max-width: 100%;
}*/

body
{
       background-image:none;
    background-color:#ece3dc;
    min-width: 200px;
    max-width: 799px;
    width: 97%;
    min-height: 100%;
    height: auto;
    /* Set up positioning */
    top: 0;
    left: 0;
}

#wrapper
{
    margin: 0;
    width:100%;
    min-width:200px;
    margin-bottom:5%;
    height: 100%;
    min-height: 650px;
    position: relative;
    border: solid 1px #c4c4c4;
    background:white;
    /*padding-bottom: 0%;*/
}

.clear
{
    clear: both;
}


/*================ PAGE HEADER ==============*/
#homePage, #questions, #map, #contactUs, #links {
      display:none !important
}
.top_nav_hotline {
    display:none !important
}
.navList
{
    width:100%;
     display:inline-block;
       direction:ltr;
       float:left
}
.navHotline
{
    display:none;
}


.rightIcon
{
    float:left;
    width:50%;
    display: none;

}
.leftIcon
{
    text-align:center;
    width:100%;
    display: inline-block
}

#header-middle
{
    /*margin: 0%;
    padding: 0%;*/
    display: block;
    /*width:100%;*/
    height: 120px;
    background-image: url(https://portal.shjmun.gov.ae/_layouts/15/1025/styles/images/header.jpg);
    background-size:cover;
    min-width:200px;
    /*text-align:left !important*/
}

#nav
{
    display: block;
    width: 100%;
    height: 35px;
    background-image: url(https://portal.shjmun.gov.ae/_layouts/15/Mun16/images/nav-green.jpg);
}
/*================PAGE CONTENTS==============*/
.bodyHeader
{
    width:98%;
}
.page-content
{
    margin: 0;
    /*padding: 2.5%;*/
    margin-bottom: 20px;
   margin-right: 0 !important;
    outline: 0;
    width: 98%;
    height: auto;
    overflow:hidden;
    /*overflow-y: scroll;*/
    float: right;
    /*padding-bottom:80px;*/
}

#body_content
{
    width: 100%;
    max-width: 960px;
    float: right;
    height: auto;
    min-height: 100%;
    position: relative;
    /*margin: 1% 1% 2% 0*/
}
/*=================== SIDE NAVIGATION ===============*/
.nav-content
{
    display: none;
    width: 28%;
    /*margin: 4% 1% 0% 0%;*/
    outline: 0;
    height: auto;
    float: right;
    background: rgb(82,86,59); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(82,86,59,1) 0%, rgba(95,101,69,1) 4%, rgba(103,108,75,1) 8%, rgba(103,108,75,1) 92%, rgba(95,101,69,1) 96%, rgba(82,86,59,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(82,86,59,1)), color-stop(4%,rgba(95,101,69,1)), color-stop(8%,rgba(103,108,75,1)), color-stop(92%,rgba(103,108,75,1)), color-stop(96%,rgba(95,101,69,1)), color-stop(100%,rgba(82,86,59,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(82,86,59,1) 0%,rgba(95,101,69,1) 4%,rgba(103,108,75,1) 8%,rgba(103,108,75,1) 92%,rgba(95,101,69,1) 96%,rgba(82,86,59,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(82,86,59,1) 0%,rgba(95,101,69,1) 4%,rgba(103,108,75,1) 8%,rgba(103,108,75,1) 92%,rgba(95,101,69,1) 96%,rgba(82,86,59,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(82,86,59,1) 0%,rgba(95,101,69,1) 4%,rgba(103,108,75,1) 8%,rgba(103,108,75,1) 92%,rgba(95,101,69,1) 96%,rgba(82,86,59,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(82,86,59,1) 0%,rgba(95,101,69,1) 4%,rgba(103,108,75,1) 8%,rgba(103,108,75,1) 92%,rgba(95,101,69,1) 96%,rgba(82,86,59,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52563b', endColorstr='#52563b',GradientType=1 ); /* IE6-9 */
}
/*=========== FOOTER ===========*/
.f_top
{
    text-align:center;
    width: 100%;
    height: 35px;
    font-size: 12px !important;

}

#f_bottom
{
    display: none;
}
#footerMob
{
  display:none
}