@font-face {
    font-family: 'GE_SS_Text_Medium';
    src: url('GE_SS_Text_Medium/GE_SS_Text_Medium.woff2') format('woff2'), url('GE_SS_Text_Medium/GE_SS_Text_Medium.woff') format('woff'), url('GE_SS_Text_Medium/GE_SS_Text_Medium.ttf') format('truetype');
}

body
{
    margin: auto;
    max-width: 100%;
        padding: 30px 0 !important;
}

input[type=checkbox], input[type=radio] {
    float: right;
}

span {
    text-align: right;
}

    span.floatingp {
        width: 100%;
    }




ul.engLoginServices {
    float: right;
    direction: rtl;
    width: 100%;
    text-align:right;
}

ul.engLoginServices li a {
    color: #353535;
    list-style: none;
    text-decoration: none;
}


    ul.engLoginServices li a:hover {
       color:darkgray;
    }

.btn{
    color:#fff !important;
}

.headingtxt{
    text-align:right;
}
h4{
    font-family:cairo;
}
.datagrid .col-md-12 .form-group label{
    float:right !important;
}
.basicfloating span{
    float:right;
}
.checkboxspace {
    float: right;
    text-align: right;
}
    .checkboxspace span{
        float:right !important;
    }
    .datagrid {
        width: 94% !important;
        margin: 0px auto;
        padding: 40px;
        border-radius: 8px;
        text-align: center
    }

ul.logoutBar li .btn {
    background-color: transparent !important;
    color: #4e6b31 !important;
    border: none !important;
    text-align: center;
}
ul.logoutBar li span{
    font-family:cairo;
}

.btnLang {
    text-align: right
}

.boldText {
    font-weight: bold;
}


a.tsf-wizard-btn {
    font-family: cairo !important;
}
label {
    display: flow-root !important;
    margin-bottom: 0.5rem;
}
input {
    border: 0.1em solid #ccc;
    border-radius: 0.3em;
    padding: 8px 12px;
    width: auto;
    margin: 0 5px;
}
.btn-shjmun {
    margin: 5px 0 !important;
    background-color: none !important;
    border-bottom: 1px solid #ccc !important;
}

.form-group lable input {
    margin: 1px 5px !important;
}

.pdt15 {
    padding: 10px 65px !important;
}

input[type=checkbox], input[type=radio] {
    margin: 4px 5px !important;
    float: right;
}

select#ctl00_mainContentPH_ddlInsuraceCompany{

    float: right;
    margin:0 10px;
}

input#ctl00_mainContentPH_txtCraneNumber {
    float: right;
    margin: 0 10px;
}
input#ctl00_mainContentPH_txtCraneInsuReceipt {
    float: right;
    margin: 0 10px;
}

.form-group {
    font-family: cairo !important;
}

.form-area .form-group lable{
    float:right !important;
    font-family:cairo !important;
}

span#ctl00_mainContentPH_LblInsuSartDt {
    font-family: cairo;
    color: #212529;
    font-weight: 400;
    line-height: 1.5;
    font-size: 14px !important;
}

.fileuploadDiv h3, ul li{

    font-family: cairo !important;
}
th, td {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
}

span#ctl00_mainContentPH_LblInsuSartDt{
    font-family: cairo;
}

.btn {
    color: #fff;
    background-color: #4e6b31 !important;
    border-color: #4e6b31 !important;
    margin: 2px 14px;
    font-size: 15px !important;
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #4e6b31 !important;
    border-color: #4e6b31 !important;
}

.frmspace {
    padding: 6px 8px !important;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 95%;
    margin-bottom: 10px;
}

ul.logoutBar {
    float: right;
    margin: 0 0 25px 0;
    width: 100%;
}

    ul.logoutBar li {
        list-style: none;
        text-decoration: none;
        float: right
    }

        ul.logoutBar li:first-child {
        }

.checkboxspace {
    margin: 10px 15px;
}

td {
    padding: 9px 2px !important;
}

ul.logoutBar li label {
    margin: 1px 5px 0 0;
}

.sectionmiddle {
    width: 60% !important;
}

.btn-info {
    background-color: #4f6a36 !important;
    border-color: transparent !important;
}

#wrapper {
    margin: auto;
    width: 1024px;
    /*margin-bottom: 5%;*/
    /*max-width: 980px;
    /*background-image: url(../images/background.jpg);*/
    height: 100%;
    min-height: 700px;
    position: relative;
    border: solid 1px #c4c4c4;
    background: white;
    box-shadow: 0px 0px 6px #888888;
    /*padding-bottom: 0%;*/
}

.clear {
    clear: both;
}

.btn {
    color: #fff;
    background-color: #4e6b31 !important;
    border-color: #4e6b31 !important;
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle {
    color: #fff;
    background-color: #4e6b31 !important;
    border-color: #4e6b31 !important;
}

h1, h2, h3, h4, h5 {
    font-family: cairo;
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 1px
}

label, input {
    font-family: cairo !important;
}

td label {
    font-family: cairo !important;
}
.btn-frm-class {
    background-color: #4e6b31 !important;
    border-color: #4e6b31;
    padding:2px 45px;
    border-radius:20px;
}

/*=====================ERROR====================================*/
.info,.success,.warning,.eerror,.infoGreen {
    font-family:cairo;
    font-size:14px;
    border: 1px solid;
    margin-bottom:1%;
    margin-top:1%;
    background-repeat: no-repeat;
    /*padding:2% 1% 2% 4%;*/
    background-position: 95% center;
    max-width:100% !important;
    text-align:right
}
.info {
    text-align:center;
    padding:2% 1% 2% 4%;
    color: #00529B;
    background-color: #BDE5F8;
      background-image: url('/images/info.png');
}

.infoGreen {
        text-align:center;
        padding:2% 1% 2% 4%;
   color: #4F8A10;
   background-color: #DFF2BF;
      background-image:url('/images/infoGreen.png');
}
.success {
        text-align:center;
        padding:2% 1% 2% 4%;
   color: #4F8A10;
   background-color: #DFF2BF;     
      background-image:url('/images/success.png');
}
.warning {
   text-align:center;
    padding:2% 1% 2% 4%;
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('/images/warning.png');
}
.eerror {
    text-align:center;
    padding:2% 1% 2% 4%;
    color:#b02828;
    background-color: #FFBABA;
        background-image: url('/images/error.png');
}
.eerror ul {
   font-family:Tahoma;
   padding-top:5px;
   list-style:none;
   font-size:12px;
   color: #D8000C;
   margin-left:5%;
}
.eerror ul li {
   padding: .5%;
   list-style:circle
}

/*.ValidationSummary
{
    width: 100%;
    max-width:100%;
    height:auto;
    position:relative
}*/
.ValidationSummary table
{
    border-collapse: collapse;
    max-width: 100%;
    width:100%
}
/*==============================RESPONSIVE TABLE=====================*/
    /*@media only screen and (max-width: 760px), (min-width: 100px) and (max-device-width: 1024px)*/
    @media only  screen and (min-width: 100px) and (max-width: 799px)

{

    /*.datagrid tbody
    {
         max-width:90% !important;
    }*/
    /*.datagrid
    {
       margin-right:1%
    }*/
        img
{
    max-width: 100%;
}

   .datagrid
    {
       font-size:90% !important;
       width:98%;
        display: block !important;
        /*max-width:98%;*/
        color:gray;    
    }
    /*.datagrid, .datagrid table, .datagrid table tbody td, .datagrid tbody, .datagrid tbody tr, .datagrid tbody tr th, .datagrid table tbody tr:last-child td
    {
        display: block !important;
        max-width:98%;
        color:gray      
    }*/

    .datagrid tbody tr th
    {
         border-color:rgb(136, 119, 90);
        border: none !important;
        display: block;
        background-color: #C2AC7D;
        color: white;
        font-family: Tahoma;
        font-size:100%;  
        font-weight: bold;
        width:94% !important;
    }
        .datagrid tbody tr
        {
            width: 100%;
            /*border: 1px solid #ccc;*/
        }

        .datagrid table tbody td
        {
            font-size:90% !important;  
            /* Behave  like a "row" */
            border: none !important;
            /*border-bottom: 1px solid #eee;*/
            position: initial;
            max-width: 100%;
            height: auto;
            display:block;
            text-align:right !important;
        }
}

    /*======================END OF RESPONSIVE TABLE=================*/
.Permit
{
     background-color: #7A8156;
     border:solid 1px white;
     width:50%
}
/*====================POPUP=================*/

/*========================TABLE=============================*/
.datagrid table
{
    border-collapse: collapse;
    max-width: 100%;
    width:100%;
    /*margin-right: 60px;*/
}
.datagrid {
    background: #F5F2EB !important;
    overflow: hidden !important;
    border: none !important;


    background: #F5F2EB;

    border: 1px solid #d4d3d3 !important;

}
.basicfloating {
    float: right;
    width: 100%;
    text-align: left;
    display: block;
    margin: 10px 0;
}
.form-group {
    font-size: 14px !important;
}
datagrid table th {
    padding: 0.8% !important;
    vertical-align: middle
}
        .datagrid table thead th:first-child
        {
            border: none;
        }

.datagrid table tbody td {
    border-color: rgb(136, 119, 90);
    padding: 0.5%;
    color: #333;
    font-size: 13px;
    font-weight:normal;
    text-align: right;
}

    .datagrid table tbody th
    {
        border-color:rgb(136, 119, 90);
        background-color: #D0C19F;
        height:auto;
    }


    .datagrid table tbody tc
    {
        color: #7D7D7d;
        font-size: 10px;
        font-family: Tahoma;
        
    }

    /*============================Not Responsive Table=====================================*/
    .notResdatagrid table
{
    border-collapse: collapse;
    max-width: 100%;
    width:100%;
    /*margin-right: 60px;*/
}
.notResdatagrid
{
       /*margin-left:1%;*/
    background: #F5F2EB;
    overflow: hidden;
    border: 1px solid #d4d3d3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    max-width:100%;  
}
 .datagrid table th
    {
        padding: 0.8% !important;
        text-align:center;
    }

       .notResdatagrid table thead th:first-child
        {
            border: none;
        }

.notResdatagrid table tbody td {
    color: #7D7D7D;
    font-size: 90%;
    font-family: 'GE_SS_Text_Medium';
    text-align: right;
    padding: 3px !important;
    /*height:100%;*/
    /*width:50px*/
}

    .notResdatagrid table tbody th
    {
        background-color: #C2AC7D;
       font-size:100%;  
        height:auto;
        padding:5px;
    }


    .notResdatagrid table tbody tc
    {
        color: #7D7D7d;
   font-size:100%;  
        font-family: Tahoma;
        
    }

    /*=============ARTICLE===============*/
       .datagrid table tbody article p
    { 
        font-size: 12px;
        font-weight:bold;
        font-family: Tahoma;
    }
       .datagrid table tbody article h5
    { 
        color: #9F6000;
        font-size: 12px;
        font-weight:bold;
        font-family: Tahoma;
    }

      .datagrid table tbody article ul >li 
    { 
        color: #7D7D7d;
        font-size: 12px;
        font-weight:bold;
        font-family: Tahoma;
    }
         .datagrid table tbody article li >a
    { 
        color: #c4c4c4;
        font-size: 12px;
        font-weight:bold;
        font-family: Tahoma;
    }
                .datagrid table tbody article h3
    { 
        color: #9F6000;
    }
.nextStep
{
    background-color:#d8c191;
}
.nextStep h3
{
    color: #7D7D7d;
        font-size: 12px;
        font-weight:bold;
        font-family: Tahoma;
}

.auto-style2
{
    padding: 1px 4px;
    width: 201px;
}

.auto-style1
{
    padding: 1px 4px;
}
  /*=============ARTICLE===============*/
    .datagrid table tbody .alt td
    {
        background: #EBEBEB;
        color: #7D7D7D;
    }
    
    .datagrid table tbody td:first-child
    {
        border-left: none;
    }

.picture
{
border: 1px groove;
width:200px;
height:200px;
}

/*=========BUTTONS=====*/
.css_button {
-webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  color: #806b4a;
  font-family:Tahoma;
  font-size:12px;
  background: #ede3d0;
  padding: 10px 20px 10px 20px;
  border: solid #b89c69 1px;
  text-decoration: none;
}
.css_button:hover {
  background: #faf9f7;
  text-decoration: none;
}
.css_button:active
{
    position: relative;
    top: 1px;
}
.css_button:disabled
{
     background: #faf9f7;
     border: solid #C4C4C4 1px;
}
/*===========================================*/
.clear
{
    clear: both;
}
/*===================TEXTBOX==================*/

.css_textbox
{
border: 1px solid #c4c4c4; 
font-size: 100%; 
padding: 4px; 
color:#225e1e;
font-family:Tahoma;
background-color:white;
} 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.css_drpDownList
{
font-size: 13px; 
padding: 4px; 
color:#225e1e;
font-family:Tahoma;
} 

.css_textbox:focus { 
    outline: none; 
    border: 1px solid #d29105; 
}

/*===================LABELS==================*/
.lblErrorMsg
{
    font-family: "Tahoma";
    Font-Size: smaller;
    Color: Red;
    font-weight: bold;
}
.lblShow
{
    font-family: "Tahoma";
   Font-Size: 100%;
    color: #593900;
    font-weight: bold;
}

.lblHeader
{
    font-family: "Tahoma";
   Font-Size: 100%;
    color:rgb(127, 105, 69);
    font-weight: bold;
}

.lblHeaderS
{
    font-family: "Tahoma";
      Font-Size: 80%;
    color: white;
    font-weight: bold;
}

.lblCond
{
    font-family:Tahoma;
    /*text-shadow: 1px -1px 2px rgba(204,182,69,1);*/
    font-weight: bold;
    color: #225E1E;
    /*word-spacing: 2pt;*/
    font-size: 10px;
    /*text-align: left;*/
    /*line-height: 2;*/
    list-style-type: circle;
}

.lblPrintShow
{
    font-family: 'Times New Roman';
    Font-Size: 14px;
    color: #225e1e;
}

.lblPrintHeader
{
    font-family: 'Times New Roman';
    Font-Size: 16px;
    color: white;
    font-weight: bold;
}

.lblPrint
{
    font-family: 'Times New Roman';
    Font-Size: 14px;
    color: black;
    font-weight: bold;
}

.lblBarcode
{
    font-family: "IDAutomationHC39M";
    Font-Size: 20px;
    color:black;
}

.lblShowList    
{
  color:#9F6000
}
/*=============DROPDOWN LIST====================*/
css_dropdown p {
	border: 1px solid #c4c4c4; 
height: auto; 
width: auto; 
font-size: 13px; 
padding: 4px 4px 4px 4px; 
border-radius: 4px; 
-moz-border-radius: 4px; 
-webkit-border-radius: 4px; 
box-shadow: 0px 0px 8px #d9d9d9; 
-moz-box-shadow: 0px 0px 8px #d9d9d9;
-webkit-box-shadow: 0px 0px 8px #d9d9d9;
}
css_dropdown:focus { 
    outline: none; 
    border: 1px solid #d29105; 
    box-shadow: 0px 0px 8px #d29105; 
    -moz-box-shadow: 0px 0px 8px #d29105; 
    -webkit-box-shadow: 0px 0px 8px #d29105; 
} 

css_dropdown select {
      border: 0 !important;  /*Removes border*/
      -webkit-appearance: none;  /*Removes default chrome and safari style*/
      -moz-appearance: none; /* Removes Default Firefox style*/
      background: url('dropdown_arrow.png') no-repeat;  /*Adds background-image*/
      background-position: 82px 7px;  /*Position of the background-image*/
      width: 100px; /*Width of select dropdown to give space for arrow image*/
      text-indent: 0.01px; /* Removes default arrow from firefox*/
      text-overflow:initial; /*Removes default arrow from firefox*/
      /*My custom style for fonts*/
      color: #946e40;
}

/*===================UPLOAD FILES==============================*/
.groupBox
        {
            margin: 5px 0px;
            border: solid 1px gray;
            width: 480px;
        }
        .groupBox legend
        {
            margin-left: 20px;
        }
        .groupBox .fileContainer
        {
            height: 40px;
            padding: 5px 10px;
            overflow: auto;
            }

 /*============================WATERMARK=============================*/
.css_waterMark
{
    border: 1px solid #c4c4c4;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
    color: #c4c4c4;
    font-family: Tahoma;
}
/*=======================*/
.space
{
    height:20px;
    clear:both;
}

/*======================= iCons Links*/
/* unvisited link */
.icons a:link {
    font-family:'GE SS Two Light';
    text-decoration:none;
    font-size:large;
    color: #2D5900;
}

/* visited link */
.icons a:visited {
    color: #9F6000;
}

/* mouse over link */
.icons a:hover {
    color: #C2AC7D;
}

/* selected link */
.icons a:active {
    color: #d29105;
}


.icons tbody td
{
    background-color:#F5F2EB;
    border-radius:10px;
    height:100px
}


#ctl00_CPCenter_ddlManager_ET
{
    margin:0 !important;
    float:right;
}
#ctl00_CPCenter_cblWeeklyVac
{
    float:right
}

#ctl00_CPCenter_rbStatus {
    float: right;
}

/*===========================Margin==============*/
.marginRight
{
    margin-right:3%
}

/*===========Animated Text===================*/
.animated { 
   -webkit-animation-duration: 1s; 
   animation-duration: 1s; 
   -webkit-animation-fill-mode: both; 
   animation-fill-mode: both; 
   -webkit-animation-timing-function: ease-out; 
   animation-timing-function: ease-out; 
   animation-iteration-count:infinite; 
   -webkit-animation-iteration-count:infinite; 
} 

@-webkit-keyframes flash { 
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0;} 
} 
@keyframes flash { 
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0;} 
} 
.flash { 
    -webkit-animation-name: flash; 
    animation-name: flash; 
}

.pagetitle{
    float:right
}